@model IEnumerable<Vap.Core.Models.M_ROLE>

@{
    ViewBag.Title = EAdmin.Resources.MenuText.AccountGroups;
}
<h2 class="page_title">@EAdmin.Resources.MenuText.AccountGroups</h2>

<a href="@Url.Action("Create")" class = "btn btn-default panel_tool">
    <i class="glyphicon glyphicon-plus"></i> 
    @EAdmin.Resources.UIText.CreateNew
</a>
<a href="@Url.Action("Delete")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-remove"></i>
    @EAdmin.Resources.UIText.Delete
</a>
<a href="@Url.Action("Edit")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-edit"></i>
    @EAdmin.Resources.UIText.Edit
</a>
<a href="@Url.Action("Index")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-search"></i>
    @EAdmin.Resources.UIText.Filter
</a>
@*Form input*@
<p  class="panel_tool" style="float:right">
    <input type="text" name="search" placeholder=@EAdmin.Resources.UIText.SeachPlaceholder>
    @*<a href="@Url.Action("Index")" class="btn btn-default" title=@EAdmin.Resources.UIText.Filter>
        <i class="glyphicon glyphicon-search"></i>
    </a>*@
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th class="th150">
            @Html.DisplayNameFor(model => model.ROLE_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROLE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SORT_ORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALL_COMPANY_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEL_FLG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_PERSON_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATE_PERSON_CD)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SORT_ORDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALL_COMPANY_FLAG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEL_FLG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_PERSON_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATE_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATE_PERSON_CD)
            </td>
            <td>
                @Html.ActionLink(EAdmin.Resources.UIText.Edit, "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink(EAdmin.Resources.UIText.Details, "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink(EAdmin.Resources.UIText.Delete, "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
