@model IEnumerable<Vap.EAdmin.Models.M_ROLE>
@using Vap.EAdmin.Resources

@{
    ViewBag.Title = MenuText.AccountGroups;
}
<h2 class="page_title">@MenuText.AccountGroups</h2>

<a href="@Url.Action("Create")" class = "btn btn-default panel_tool">
    <i class="glyphicon glyphicon-plus"></i> 
    @UIText.CreateNew
</a>
<a href="@Url.Action("Delete")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-remove"></i>
    @UIText.Delete
</a>
<a href="@Url.Action("Edit")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-edit"></i>
    @UIText.Edit
</a>
<a href="@Url.Action("Index")" class="btn btn-default panel_tool">
    <i class="glyphicon glyphicon-search"></i>
    @UIText.Filter
</a>
@*Form input*@
<p  class="panel_tool" style="float:right">
    <input type="text" name="search" placeholder=@UIText.SeachPlaceholder>
    @*<a href="@Url.Action("Index")" class="btn btn-default" title=@UIText.Filter>
        <i class="glyphicon glyphicon-search"></i>
    </a>*@
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th class="th150">
            @Html.DisplayNameFor(model => model.ROLE_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROLE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SORT_ORDER)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.DEL_FLG)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SORT_ORDER)
            </td>
            <td>
                @if (item.DEL_FLG != true)
                {

                    <div class="icon_ckb icon_checkbox_True"></div>
                }else { 
                    <div class="icon_ckb icon_checkbox_False"></div>
                }
            </td>
            
            <td>
                @Html.ActionLink(Vap.EAdmin.Resources.UIText.Edit, "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink(Vap.EAdmin.Resources.UIText.Details, "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink(Vap.EAdmin.Resources.UIText.Delete, "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
