<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LeftMenu.css" rel="stylesheet" />

</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index" class="navbar-brand">
                        <i class="glyphicon glyphicon-home"></i>
                        localhost
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <!-- Load Left Menu -->
                @Html.Partial("_LeftMenu")

                <!-- Page Content Holder -->
                <div id="content">
                    <div class="container body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*--- Begin Collapse left menu ---*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @*--- End Collapse left menu ---*@
</body>
</html>
