<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LeftMenu.css" rel="stylesheet" />

</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index" class="navbar-brand">
                        @*<img src="~/Content/Images/home.png" style="width:30px;height:30px;" />*@
                        <i class="glyphicon glyphicon-home"></i>
                        localhost
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink(EAdmin.Resources.MenuText.System, "Index", "Home")</li>
                        <li>@Html.ActionLink(EAdmin.Resources.MenuText.ContentManager, "About", "Home")</li>
                        <li>@Html.ActionLink(EAdmin.Resources.MenuText.ProductsServices, "Contact", "Home")</li>
                    </ul>*@
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="#systemSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-cog"></i>
                            @EAdmin.Resources.MenuText.System
                        </a>
                        <ul class="collapse list-unstyled" id="systemSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.FullSettings, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Definitions, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Roles, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Modules, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Languages, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.LanguagesResx, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.TemplatePages, "", "System", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.ProductProperties, "", "System", new { href = "#" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ContentManagerSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-pushpin"></i>
                            @EAdmin.Resources.MenuText.ContentManager
                        </a>
                        <ul class="collapse list-unstyled" id="ContentManagerSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.PagesCategories, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.PostsArticles, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.PostTemplates, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.PhotoGallery, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Video, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.LogoBanner, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Advertisement, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.AuthorsWritter, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Keywords, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Comments, "", "", new { href = "#" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ProductsServicesSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            @EAdmin.Resources.MenuText.ProductsServices
                        </a>
                        <ul class="collapse list-unstyled" id="ProductsServicesSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.ProductsServices, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.ShippingFee, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.ProductProperties, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.ProductKeywords, "", "", new { href = "#" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#SalesSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-flag"></i>
                            @EAdmin.Resources.MenuText.Sales
                        </a>
                        <ul class="collapse list-unstyled" id="SalesSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Oders, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Customers, "", "", new { href = "#" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#StorageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            @EAdmin.Resources.MenuText.Storage
                        </a>
                        <ul class="collapse list-unstyled" id="StorageSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.FilesManager, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Inbox, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Outbox, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.EmailList, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Polls, "", "", new { href = "#" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#SettingsSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-wrench"></i>
                            @EAdmin.Resources.MenuText.Settings
                        </a>
                        <ul class="collapse list-unstyled" id="SettingsSubmenu">
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.GeneralSettings, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.UserAccount, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.AccountGroups, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.SystemPages, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.URLManagement, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Widget, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.IPManagement, "", "", new { href = "#" })</li>
                            <li>@Html.ActionLink(EAdmin.Resources.MenuText.Logs, "", "", new { href = "#" })</li>
                        </ul>
                    </li>
                </ul>

                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" title= @EAdmin.Resources.MenuText.Collapse>
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span></span>
                </button>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">




                    </div>
                </nav>

            </div>
        </div>



        @*<div class="row">
            <div class="col-md-12">
                <div class="nav-side-menu" id="sidebar">
                    <div class="brand" id="leftmenu">Brand Logo</div>
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out">
                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                                </a>
                            </li>
                            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="products">
                                <li class="active"><a href="#">CSS3 Animation</a></li>
                                <li><a href="#">General</a></li>
                                <li><a href="#">Buttons</a></li>
                                <li><a href="#">Tabs & Accordions</a></li>
                                <li><a href="#">Typography</a></li>
                                <li><a href="#">FontAwesome</a></li>
                                <li><a href="#">Slider</a></li>
                                <li><a href="#">Panels</a></li>
                                <li><a href="#">Widgets</a></li>
                                <li><a href="#">Bootstrap Model</a></li>
                            </ul>

                            <li data-toggle="collapse" data-target="#service" class="collapsed">
                                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="service">
                                <li>New Service 1</li>
                                <li>New Service 2</li>
                                <li>New Service 3</li>
                            </ul>

                            <li data-toggle="collapse" data-target="#new" class="collapsed">
                                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new">
                                <li>New New 1</li>
                                <li>New New 2</li>
                                <li>New New 3</li>
                            </ul>

                            <li>
                                <a href="#">
                                    <i class="fa fa-user fa-lg"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-users fa-lg"></i> Users
                                </a>
                            </li>
                        </ul>
                    </div>

                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span></span>
                    </button>
                </div>

            </div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LTDuyen</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <!-- jQuery CDN -->
    <!-- Bootstrap Js CDN -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
