@using Vap.EAdmin.Resources
<!-- Sidebar Holder -->
<nav id="sidebar">
    <ul class="list-unstyled components">

        <li class="active">
            <a href="#systemSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-cog"></i>
                @MenuText.System
            </a>
            <ul class="collapse list-unstyled" id="systemSubmenu">
                <li>@Html.ActionLink(MenuText.FullSettings, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Definitions, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Roles, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Modules, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Languages, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.LanguagesResx, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.TemplatePages, "", "System", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.ProductProperties, "", "System", new { href = "#" })</li>
            </ul>
        </li>
        <li>
            <a href="#ContentManagerSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-pushpin"></i>
                @MenuText.ContentManager
            </a>
            <ul class="collapse list-unstyled" id="ContentManagerSubmenu">
                <li>@Html.ActionLink(MenuText.PagesCategories, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.PostsArticles, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.PostTemplates, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.PhotoGallery, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Video, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.LogoBanner, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Advertisement, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.AuthorsWritter, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Keywords, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Comments, "", "", new { href = "#" })</li>
            </ul>
        </li>
        <li>
            <a href="#ProductsServicesSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-list-alt"></i>
                @MenuText.ProductsServices
            </a>
            <ul class="collapse list-unstyled" id="ProductsServicesSubmenu">
                <li>@Html.ActionLink(MenuText.ProductsServices, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.ShippingFee, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.ProductProperties, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.ProductKeywords, "", "", new { href = "#" })</li>
            </ul>
        </li>
        <li>
            <a href="#SalesSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-flag"></i>
                @MenuText.Sales
            </a>
            <ul class="collapse list-unstyled" id="SalesSubmenu">
                <li>@Html.ActionLink(MenuText.Oders, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Customers, "", "", new { href = "#" })</li>
            </ul>
        </li>
        <li>
            <a href="#StorageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-folder-open"></i>
                @MenuText.Storage
            </a>
            <ul class="collapse list-unstyled" id="StorageSubmenu">
                <li>@Html.ActionLink(MenuText.FilesManager, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Inbox, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Outbox, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.EmailList, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Polls, "", "", new { href = "#" })</li>
            </ul>
        </li>
        <li>
            <a href="#SettingsSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-wrench"></i>
                @MenuText.Settings
            </a>
            <ul class="collapse list-unstyled" id="SettingsSubmenu">
                <li>@Html.ActionLink(MenuText.GeneralSettings, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.UserAccount, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.AccountGroups, "Index", "M0110")</li>
                <li>@Html.ActionLink(MenuText.SystemPages, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.URLManagement, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Widget, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.IPManagement, "", "", new { href = "#" })</li>
                <li>@Html.ActionLink(MenuText.Logs, "", "", new { href = "#" })</li>
            </ul>
        </li>
    </ul>

    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" title=@MenuText.Collapse>
        <i class="glyphicon glyphicon-align-left"></i>
        <span></span>
    </button>

</nav>

